#current-time {
    display: block;
    font-weight: bold;
    text-align: center;
    width: 200px;
    padding: 10px;
}
body {
    background: url('../images/back.jpg') no-repeat;
    background-size: cover;

}


#clock {
    padding: 10px;
    border-radius: 50px;
    background: url('../images/ClockFace.png');
    background-repeat: no-repeat;
    background-size: 300px
}
