#current-time {
    display: block;
    font-weight: bold;
    text-align: center;
    width: 200px;
    padding: 10px;
}

body {
    background: url(../images/anew.jpg) no-repeat center;
    background-size: cover;
    image-rendering: auto;
}

#clock {
    padding: 10px;
    border-radius: 50px;
    background: url('../images/ClockFace.png') no-repeat;
    background-position: center;
    background-size: 400px

}

